.code-block-wrapper {
  max-width: 50vw;
}
.code-header {
  margin: 0;
  background-color: #333;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.code-block {
  padding: 10px;
  max-width: 100%;
  overflow: auto;
  margin: 0;
}
.rendering .code-block-wrapper div.copy-action {
  display: none;
}
.code-block-wrapper .code-lang {
  margin-left: 6px;
  padding: 2px;
}
.code-block-wrapper div.copy-action {
  margin-right: 6px;
  cursor: pointer;
  display: inline-block;
}
.code-block-wrapper div.copy-action {
  background-color: rgba(144, 202, 249, 0.16);
  padding: 2px;
}
.code-block-wrapper div.copy-action:hover {
  background-color: rgba(144, 202, 249, 0.36);
}
.code-block-wrapper:hover div.copy-action {
  opacity: 1;
}