
[data-joy-color-scheme="dark"] {
  .scroll, textarea {
    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
      border-radius: 6px;
    }

    &::scrollbar {
      width: 6px;
      background-color: #ffffff88;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #000;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track:hover {
      background-color: transparent;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
  }
}

[data-joy-color-scheme="light"] {
  .scroll, textarea {
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #f5f5f5;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c6c6c6;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #a0a0a0;
    }

    &::-webkit-scrollbar-track {
      background-color: #f5f5f5;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track:hover {
      background-color: #dcdcdc;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
  }
}