.titlebar {
  padding: 0 8px;
  .buttons {
    display: flex;
    .button {
      display: block;
      margin: 4px;
      background-repeat: no-repeat;
      background-size: 15px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: none;
      &:hover {
        filter: saturate(1.5);
      }
      &:active {
        filter: brightness(0.5)
      }
    }
    .close {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAABuvAAAbrwFeGpEcAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAH5QTFRFAAAA/wAA/wAAzDMz0i081Ss51yg22SYz1ik31Cg21Sc11SY01Cg11Sc21Sc11iY11iY01iY21Sg11Sc11Sc01Sc21SY11Sg11Sc11SY21Sc11Sc11Sc21Sc11Sc1ahMacRUcchUchRghhhghhhkhhxkiviMvwCMwxCQx1Sc1oVoWgAAAAB90Uk5TAAECBRESExQlR0hJTVVWV1heZpaXmLq72tvc3uD3+FzypnMAAAD3SURBVCjPlZPZEoIwDEVbkcW6K6BFochW8v8/KE2QYZ/xPsA0B9rkJmXsH7nuErFEECUAiQyENYH8KKHT+7YZUvsBA4V2n3oSRnp6vX+fMNGrS5I/YEYhb/EFZnVqK6KD6yLX5q2zosaApPr29HGhVFoBVKlSJUUE4oAWuTLcUJVTxEcc0UIbkOJDU0Ri3kmbiv4olDkClZjc3S5V4h0FcBrsLGPjLI+XNo/RGLmaGvNpkU0KuyMWS7bsBqaWral5OTCVnedbcvw1NFxtKNuujkMzTBPeH6ZmnEb7h9vRJB96G7yvnI1lCV82/sbSn7kGv0vk/HXnvvIsUWD667+WAAAAAElFTkSuQmCC')
    }
    .minimize {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAABuvAAAbrwFeGpEcAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAH5QTFRFAAAA//8A/4AAzJkA4aUP1ZwO16EN2ZkN3Z8O254O3J8S2Z0R258R258P250P2Z4P2Z8R2Z0Q2p4P2p4P2p8P2p4R2p4Q2p4Q2p4Q2p4Q2p4Q2p8Q2Z4Q2p4P2p4QbU8Ie1kJfFoJfVoJl24LmG4LmW8LsIANsYAN15wQ2p4QsN175gAAAB90Uk5TAAECBRESExQlR0hJTVVWV1heZpaXmLq72tvc3uD3+FzypnMAAADRSURBVBgZlcFbcsIgAAXQSzEhpbXPBEFNfLSmufvfYEEdRiJ8eA4eohQKpO7WAzm4TkvMiaVjtP16QqJaMWEq3GgcZ2yDqLK8s1G4EitmGIGLD2a94Uw6ZjmJ4IUFGkHHghbBmgUOnhjoTT+HfXT4negNAoBiMO4SI4MaQM1g3CX+GFQARE9vOh330fE00esFPMcCh6BlwTcCzYJnBNIxy0mcvTNriQthmGEErhaWdzYKUWM5YxvcqAwTZoHUq2W0/RSYk7p1Pdm7VksUqBqP+Ad9HVLG/tCp9AAAAABJRU5ErkJggg==');
    }
    .maximize {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAABuvAAAbrwFeGpEcAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAIdQTFRFAAAAAP8AAP8AAMwzD8MeDsYcDbwbDb8aFcEcEsIdEr8cEcAfFMAeEsAeEsEeEsEdFMIdE8EeFMEeE8IfE8EeEsEeE8EeE8IeE8EeE8EeE8IeFMEeE8IeE8EeE8EeCWAPC3MSC3USDHUSDYQVDYUVDYcVD5cYD5kYD5sYEKMZErodErsdE8EePsIFcgAAAB90Uk5TAAECBRESExQlR0hJTVVWV1heZpaXmLq72tvc3uD3+FzypnMAAADzSURBVCjPldPZFoIgEAZgaNGyvdSkUirbrHn/50tgmJTIc/rv5nyKOAyM/ZMw/CX9KNkVAIVIov4X8pkAymHda+twC62kw6aOBDjJRo13M/jKnjbJt+BJypGX4M0c/4g+/LjqVKYS5v8m9PzrJHXQI80JuH4xVax5Z4rbU/lZcYmr630XpiiP5MiF2nuIC5eSHBmCmgNicsuqszwnto6c68aID8vTS/m9sTUWm+IiyTEbzZEpKun6uNXUyrT0YRWbyhb+I5nZA007D5QNOsehHqasa5jqcXLWTwfOJE8bCxxW3HMNYlH3Nxex5xrYSxT8defeAbZW6cjFKUkAAAAASUVORK5CYII=');
    }
    .restore {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAABuvAAAbrwFeGpEcAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAHtQTFRFAAAAAP8AAP8AAMwzD8MeDsYcDbwbDb8aFcEcEsIdEr8cEcAfFMAeEsAeEsEeEsEdFMIdE8EeFMEeE8IfE8EeEsEeE8EeE8IeE8EeE8EeE8IeFMEeE8IeE8EeE8EeCWAPCmcQCmgQC20RC24REawbEa0bEa8bEbAbE8EetYtpaAAAAB90Uk5TAAECBRESExQlR0hJTVVWV1heZpaXmLq72tvc3uD3+FzypnMAAADrSURBVCjPldPpFoIgEAVgyVyyvdTE0vaa93/CdBS4kHWO/PLw6QjDxfPGjCj6JX6SlTVRLbPE/0KxlKTHaTexNTiQNfIANZbkjCKGbws9/VIPR71IAZUvT11f9LyBomfjq35H+OOzcdntb04WG0+YM4e1p8yly8olr7tGvrFfeX91u/bIasfjDh42HHI3rjx7e1jvtp0VFTpqxY3ptv3uHJmX5qUEjrxnTggceWY3tXWs3YdmTcaBl+pAc+MQGHWg3rT4SgPEoQlT8S9MTZxyJ4pTJ8kLKHDaioFrkMqmv5VMB66BukThqDv3ASwGUGtlvLYcAAAAAElFTkSuQmCC')
    }
  }
}